h1{
    color: red;
    text-align: center;
}
h2{
    text-align: center;
}

.central {
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 80%;
}

.bott, .bott td, .bott tr, .bott th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }

hr{
    border-color: red;
    border-style: dotted none none;
    height: 0px;
    border-width: 5px;
}



